*

!.config/
!.config/fish/
!.config/fish/**
!.config/foot/
!.config/foot/**
!.config/gh/
!.config/gh/**
.config/gh/hosts.yml
!.config/helix/
!.config/helix/**
!.config/mako/
!.config/mako/**
!.config/nvim/
!.config/nvim/**
!.config/sway/
!.config/sway/**
!.config/electron25-flags.conf
!bin/
!bin/**
!.gitconfig
!.gitignore
!setup-home.sh
